{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}
{% block body%}
    <section id="home" class="flex s-around sw-80 m-auto">
        <div class="home-left flex items-center">
            <div class="home-content">
                <h6 class="p-10 text-red-500 hover:textwhite hover:bg-black"> Hi, I'm </h6>
                <h1 class="t-white"> Brandon </h1>
                <h4 class="popinss"> software Developer </h4>
                <a href="{% static 'src/pdf/Resume_2025.pdf' %}" target="_blank">
                    <button class="btn popinss"> Resume </button>
                </a>
                <a class="btn live popinss" id ="hireme" href="" target="_blank"> Lets Talk </a>
            </div>
        </div>
        <div class="home-right flex s-center items-center">
            <div class="circle flex s-center items-center" id="mainimage">
                <img src="{% static 'src/images/mandb.jpeg' %}" alt="picture">
            </div>
        </div>
    </section>


<!-- About section -->
<section id="about">
<h1 class="t-center my-2 t-white f-2"> About <menu></menu></h1>
<div class="about-container flex s-round">
<div class="about-left flex s-center items-center">
    <img src="{% static 'src/images/rozwell.jpeg' %}" alt="image of dog">
</div>
</div> 

<div class="about-right flex">
<div class="about-content">
    <h1 class="t-white m-b-1 popinss"> Brandon Distler </h1>
    <p class="t-white popinss">I am I software developer excited to help make your software come to life.</p>
    <a href="btn" id="hireme" href=""> Hire me!</a>
</div>
</div>
</section>

<!-- Skills section -->
<section id="skills">
<h1 class="t-center my-2 t-white f-2"> Skills </h1>
<div class="services-container flex s-round h-50">
<div class="skills-left flex s-center items-center">
    <img src="{% static 'images/skills.png' %}" alt="skills">
</div>
<div class="skills-right flex items-center">
    <div class="skills-container">
        <div class="python bar p-relative"><span class="bar-content left t-white">Core Python</span>
        <span class="bar-content right-skills t-white">90%</span></div>

        <div class="html bar p-relative"><span class="bar-content left t-white">Html</span>
        <span class="bar-content right-skills t-white">90%</span></div>

        <div class="css bar p-relative"><span class="bar-content left t-white">CSS</span>
        <span class="bar-content right-skills t-white">90%</span></div>
            
        <div class="javascript bar p-relative"><span class="bar-content left t-white">JavaScript</span>
        <span class="bar-content right-skills t-white">90%</span></div>
    </div>
</div>
</div>
</section> 

<!-- Projects section -->
<section id="project">
<h1 class="t-center my-2 t-white f-2">Project</h1>
<div class="project-container flex s-center">
<div class="project-item flex f-col s-center items-center">
    <h1 class="t-white popinss">Casper</h1>
    <p class="t-white popinss">A project about preserving the history of a family and/or person. Idea is that you can track life moments in a social media like app and anyone could look up the information that you save to yourself or loved ones. 
    </p>
    <div class="button flex s-round">
        <a href="" target="_blank" class="btn mx-1 m-top">Github</a>
    </div>  
</div>

<div class="project-item flex f-col s-center items-center">
    <h1 class="t-white popinss">Casper</h1>
    <p class="t-white popinss">A project about preserving the history of a family and/or person. Idea is that you can track life moments in a social media like app and anyone could look up the information that you save to yourself or loved ones. 
    </p>
    <div class="button flex s-round">
        <a href="" target="_blank" class="btn mx-1 m-top">Github</a>
    </div> 
</div>    
</div>
</section>

<!-- Contact section -->
<section id="contact" class="m-b-1">
<h1 class="t-center my-2 t-white f-2">Contact Me</h1>
<div class="contact-container flex s-round items-center">
<div class="form" id="contactform">
    <form method="POST">
        {% csrf_token %}
        <div class="name form-div">
            <input type="text" name="name" id="name" class="popinss" placeholder="Enter your name" required>
        </div>

        <div class="email form-div">
            <input type="text" name="email" id="email" class="popinss" placeholder="Enter your email" required>
        </div>

        <div class="phone form-div">
            <input type="phone" name="number" id="number" class="popinss" placeholder="Enter phone number" required>
        </div>

        <div class="textarea form-div">
            <textarea name="message" id="textarea" cols="30" rows="10" class="popinss" placeholder="Enter a message"></textarea>
        </div>
        <button type="submit" class="btn popinss" id="submit">send</button>    
    </form>
</div>
</div>
</section>

<!-- Footer section -->
<footer id="footer">
<ul class="flex s-center w-80 m-auto my-2 res">
    <li><a href="#home" class="popinss">Home</a></li>
    <li><a href="#about" class="popinss">About</a></li>
    <li><a href="#skills" class="popinss">Skills</a></li>
    <li><a href="#project" class="popinss">Project</a></li>
    <li><a href="#portfolio" class="popinss">Home</a></li>
</ul>
<ul class="flex s-center w-80 font-awesome">
    <a href="" target="_blank">
        <li><i class="fa-brands fa-linkedin"></i></li>
    </a>
    <a href="" target="_blank">
        <li><i class="fa-brands fa-github"></i></li>
    </a>
    <a href="" target="_blank">
        <li><i class="fa-brands fa-instagram"></i></li>
    </a>
</ul>
<p class="t-center my-2 popinss">copy; All Rights Reserved -<span class="copy-white popinss">Brandon Distler</span></p>
</footer>

{% endblock %}