{% load static %}

<nav class="flex items-center justify-between px-5 py-4 bg-slate-800 h-24">
    <div class="float-left text-left text-white mt-2">
        <a href="#portfolio" class="text-3xl text-fuchsia-500"> Portfolio <i></i>
        </a>
    </div>
    <ul class="flex items-center gap-[4vw] bg-green">
        <li>
            <a href="#about" class="text-xl text-stone-50 hover:text-fuchsia-500 m-8"> About me <i></i>
            </a>
        </li>
        <li>
            <a href="#skills" class="text-xl text-stone-50 hover:text-fuchsia-500  m-8"> Skills <i></i>
            </a>
        </li>
        <li>
            <a href="#projects" class="text-xl text-stone-50 hover:text-gray-500 m-8"> Projects <i></i>
            </a>
        </li>
    </ul>
    <div>
        <button href="#contact" class="bg-[#a6c1ee] text-xl text-white px-5 py-2 rounded-full hover:bg-[#87acec]"> Contact <i></i>
        </button>
    </div>
</nav>

<!-- <div class="flex justify-between items-center w-[92%] mx-auto h-24"></div>-->