{% extends 'base.html'%}
{% load static %}

{% block title %} 
    Projects
{% endblock %}


<!-- Projects section -->
<section id="project">
    <h1 class="t-center my-2 t-white f-2">Project</h1>
    <div class="project-container flex s-center">
    <div class="project-item flex f-col s-center items-center">
        <h1 class="t-white popinss">Casper</h1>
        <p class="t-white popinss">A project about preserving the history of a family and/or person. Idea is that you can track life moments in a social media like app and anyone could look up the information that you save to yourself or loved ones. 
        </p>
        <div class="button flex s-round">
            <a href="" target="_blank" class="btn mx-1 m-top">Github</a>
        </div>  
    </div>
    
    <div class="project-item flex f-col s-center items-center">
        <h1 class="t-white popinss">Casper</h1>
        <p class="t-white popinss">A project about preserving the history of a family and/or person. Idea is that you can track life moments in a social media like app and anyone could look up the information that you save to yourself or loved ones. 
        </p>
        <div class="button flex s-round">
            <a href="" target="_blank" class="btn mx-1 m-top">Github</a>
        </div> 
    </div>    
    </div>
    </section>
    